PORT=4060
MONGODB_URI=mongodb://127.0.0.1:27017/Licitaciones
JWT_SECRET=usa_el_mismo_jwt_secret_de_wmsBack
INTERNAL_SERVICE_KEY=usa_una_llave_interna_compartida_opcional
METALS_DEV_API_KEY=tu_api_key_de_metals_dev
ALEACIONES_DB_HOST=localhost
ALEACIONES_DB_PORT=3306
ALEACIONES_DB_USER=root
ALEACIONES_DB_PASSWORD=
ALEACIONES_DB_NAME=metal_harvest_aleaciones
LME_DB_NAME=metal_harvest_lme
ALEACIONES_AUTO_UPDATE_ENABLED=1
ALEACIONES_AUTO_UPDATE_MINUTES=30
ALEACIONES_TRM_URL=https://www.datos.gov.co/resource/32sa-8pi3.json?$limit=1&$order=vigenciadesde%20DESC
ALEACIONES_ECB_URL=https://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml
ALEACIONES_BANREP_EUR_COP_URL=https://suameca.banrep.gov.co/estadisticas-economicas-back/rest/estadisticaEconomicaRestService/consultaInformacionSerieXTipoDato?idSerie=30&tipoDato=0&cantDatos=1
ALEACIONES_EXCHANGE_RATE_SOURCE=Superfinanciera/Datos.gov.co + Banco de la Republica/Refinitiv + ECB
